<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Contacts</a>
		<ul>
			<% @contacts.each do |contact| %>
				<li><a href="/contacts/<%= contact.id %>/edit"><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></a></li>
			<% end %>
		</ul>
</div>