<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  	<link rel="stylesheet" href="/style.css">
  </head>
	<header>
		<h1><a href="/">Welcome to <%= @crm_app_name %></a></h1>

			<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<ul class="heading">
 			 <li><a href="/contacts">View all contacts</a></li>
  			<li><a href="/contact/new">Add new contact</a></li>
  			<li><a href="/edit_list">Edit Contacts</a></li>
        <li><a href="/search">Search Contact</a></li>
			</ul>
</div>
	</header>

  <body>
    <%= yield %>
  </body>
</html>