<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Search Contact by Last Name</a>
  </div>

<form class= "pure-form" action="/search" method="post">
	<fieldset>
		<input type="text" placeholder="Last Name" name="last_name">
		<button type="submit" class="pure-button pure-button-primary">Submit</button>
	</fieldset>
</form>