<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Contact Info</a>
 </div>

<h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Note:</strong></p>
<p><%= @contact.note %></p>